<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> title </title>
    <meta name="keywords" content="node开发,node ide,js桌面软件开发" />
    <meta name="description" content="node ide jsIDE开发平台" />
    {% include "./app/views/header-inc.html" %}
  </head>
  <body>
    <a href="/admin/drop">删除database</a>
    <a href="/admin/delete">删除collections</a>
    <a href="/admin/clear">清除doc</a>
    {% include "./app/views/footer-inc.html" %}
  </body>
</html>

