<ul class="sidebar">
    <li>
        <a class="btn btn-success btn-block" href="/article/add">发布文章</a>
    </li>
    <li>搜索</li>
    <li class="search-form">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">            
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </li>
    <li>文章栏目</li>
    <li>活跃用户</li>
    <li>标签</li>
    <li>广告</li>
    <li>最新回答</li>
    <li>最新文章</li>
</ul>