
<div class="header">
    <div class="box">
        <a class="home float-left" href='/' title="nodeIDE js桌面软件开发">
            <span>nodeIDE</span>
            <span class="text-mini">js桌面软件开发</span><%=channel%>
        </a>
        <div class="navbar float-right">
            <a class="nav-blog<% if(channel=='blog'){ %> active<% } %>" href="ogoodo.com/blog">博客</a>
            <a class="nav-project<% if(channel=='project'){ %> active<% } %>" href="ogoodo.com/project">项目</a>
            <a class="nav-soft<% if(channel=='soft'){ %> active<% } %>" href="ogoodo.com/soft">软件</a>
            <a class="nav-doc<% if(channel=='doc'){ %> active<% } %>" href="ogoodo.com/doc">文档</a>
            <a class="nav-res<% if(channel=='res'){ %> active<% } %>" href="ogoodo.com/res">资源</a>
        </div>
    </div>
</div>