<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta name="keywords" content="node开发,node ide,js桌面软件开发" />
    <meta name="description" content="node ide jsIDE开发平台" />
    <link href="/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!--script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script-->
  </head>
  <body>
      <div class="header">
        <div class="box">
            <a class="home float-left" href='http://www.ogoodo.com/' title="nodeIDE js桌面软件开发">
                <span>nodeIDE</span>
                <span class="text-mini">js桌面软件开发</span>
            </a>
            <div class="navbar float-right">
                <a class="nav-blog" href="ogoodo.com/blog">博客</a>
                <a class="nav-soft" href="ogoodo.com/soft">软件</a>
                <a class="nav-doc" href="ogoodo.com/doc">文档</a>
                <a class="nav-res" href="ogoodo.com/res">资源</a>
            </div>
        </div>
      </div>
      <div class="main">
          <div class="box"></div>
      </div>
      <div class="footer"></div>
  </body>
</html>
