<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta name="keywords" content="node开发,node ide,js桌面软件开发" />
    <meta name="description" content="node ide jsIDE开发平台" />
    <link href="/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/Font-Awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--script type="text/javascript" src="/jquery/2.2/jquery-2.2.0.min.js"></script-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  </head>
  <body>
      <%- include('header.html', {channel:'soft'}) -%>
      <div class="main">
          <div class="box">
              <% include index_list.html %>
              <% include index_side.html %>             
          </div>
      </div>
      <%- include('footer.html') -%>
  </body>
</html>
