<ul class="sidebar">
    <li>
        <a class="btn btn-success btn-block" href="/url/add">添加网址</a>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            发表Url
        </button>
    </li>
    <li>搜索</li>
    <li class="search-form">
        <input type="text" id='search_input'/>
        <a href="javascript:void(0)" id='search_btn'>
            <i class="fa fa-search"></i>
        </a>
    </li>
    <li>文章栏目</li>
    <li>活跃用户</li>
</ul>